---
import avatarImage from "../../assets/images/avatar.jpeg";
import { faGithub, faLinkedin } from "@fortawesome/free-brands-svg-icons";
import { faMoon, faSun } from "@fortawesome/free-solid-svg-icons";
import { faIcon } from "../utils/icons";

const githubIcon = faIcon(faGithub, { size: 18 });
const linkedinIcon = faIcon(faLinkedin, { size: 18 });
const moonIcon = faIcon(faMoon, { size: 18 });
const sunIcon = faIcon(faSun, { size: 18 });
---

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <figure class="image">
          <img
            src={avatarImage.src}
            alt="Roger Rajaratnam avatar"
            class="is-rounded"
          />
        </figure>
        <span class="navbar-brand-name">Sourcier</span>
      </a>

      <button
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        aria-controls="mobileMenu"
        data-target="mobileMenu"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </button>
    </div>

    <div id="mobileMenu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/about">About</a>
        <a class="navbar-item" href="/blog">Blog</a>
        <a class="navbar-item" href="/contact">Contact</a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a
              href="https://github.com/sourcier"
              target="_blank"
              rel="noopener noreferrer"
              class="social-icon"
              aria-label="GitHub"
            >
              <Fragment set:html={githubIcon} />
            </a>
            <a
              href="https://www.linkedin.com/in/roger-rajaratnam"
              target="_blank"
              rel="noopener noreferrer"
              class="social-icon"
              aria-label="LinkedIn"
            >
              <Fragment set:html={linkedinIcon} />
            </a>
            <button
              class="social-icon"
              data-theme-toggle
              aria-label="Change to dark theme"
            >
              <span class="moonIcon" set:html={moonIcon} />
              <span class="sunIcon" set:html={sunIcon} />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  const button = document.querySelector("[data-theme-toggle]");
  const htmlElement = document.documentElement;

  const handleThemeToggle = () => {
    const isDark = htmlElement.getAttribute("data-theme") === "dark";
    const newTheme = isDark ? "light" : "dark";
    const newCta =
      newTheme === "dark" ? "Change to light theme" : "Change to dark theme";

    button?.setAttribute("aria-label", newCta);
    htmlElement.setAttribute("data-theme", newTheme);
    localStorage.setItem("theme", newTheme);
  };

  const theme = (() => {
    const localStorageTheme = localStorage?.getItem("theme") ?? "";
    if (["dark", "light"].includes(localStorageTheme)) {
      return localStorageTheme;
    }

    return "light";
  })();

  if (theme === "light") {
    htmlElement.setAttribute("data-theme", "light");
    button?.setAttribute("aria-label", "Change to dark theme");
  } else {
    htmlElement.setAttribute("data-theme", "dark");
    button?.setAttribute("aria-label", "Change to light theme");
  }

  button?.addEventListener("click", handleThemeToggle);
</script>

<style lang="scss">
  html[data-theme="light"] {
    .moonIcon {
      display: block;
    }
    .sunIcon {
      display: none;
    }
  }

  html[data-theme="dark"] {
    .moonIcon {
      display: none;
    }
    .sunIcon {
      display: block;
    }
  }
</style>
