---
import BaseLayout from "./BaseLayout.astro";
import PageHero from "../components/PageHero.astro";
import Comments from "../components/Comments.astro";
import PageHistory from "../components/PageHistory.astro";
const { frontmatter, postId } = Astro.props;
const formattedDate = frontmatter.pubDate
  ? new Date(frontmatter.pubDate).toLocaleDateString("en-GB", {
      year: "numeric",
      month: "long",
      day: "numeric",
    })
  : null;
---

<BaseLayout pageTitle={frontmatter.title}>
  <article class="post">
    <PageHero
      title={frontmatter.title}
      subtitle={frontmatter.subTitle}
      coverImage={frontmatter.cover
        ? { src: frontmatter.cover.image.src }
        : undefined}
      tags={frontmatter.tags}
      author={frontmatter.author}
      date={formattedDate ?? undefined}
    />

    <div class="post__body">
      <div class="container is-max-desktop">
        <div class="post__content content">
          <slot />
        </div>
        {
          frontmatter.history && frontmatter.history.length > 0 && (
            <div class="post__content">
              <PageHistory entries={frontmatter.history} />
            </div>
          )
        }
      </div>
    </div>

    {postId && <Comments postId={postId} />}
  </article>
</BaseLayout>
